body {
  background-color: lightblue;
}

#homepage-header-container {
  text-align: center;
}

.all-articles-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.article-card {
  border: solid darkblue 2px;
  width: 25rem;
  height: 10rem;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: aliceblue;
  overflow: hidden;
  word-wrap: break-word;
}

.link {
  text-decoration: none;
  color: blue;
}

.link:visited {
  color: blue;
}

.page-title {
  text-align: center;
  font-size: 3rem;
}

label,
#article-title {
  font-size: 2rem;
  font-weight: bold;
}

#article-title {
  text-decoration: underline;
}

.article-info  {
  font-size: 1.25rem;
}

input,
textarea {
  border: solid darkblue 2px;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  background-color: aliceblue;
  width: 30rem;
  padding: 1rem;
}

#label-input-container {
  display: flex;
  flex-direction: column;
}

#flex-form-container {
  display: flex;
  justify-content: center;
}

#article-input {
height: 20rem;
}

.article-container {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.article-buttons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

button {
  padding: .5rem;
  font-size: 1.5rem;
  background-color: aliceblue;
  border: solid darkblue 2px;
  color: black;
  font-weight: bold;
  margin-right: 2rem;
}

button:hover {
  color: aliceblue;
  background-color: darkblue;
}

button:active {
  background-color: aliceblue;
  border: solid darkblue 2px;
  color: darkblue;
}

#update-button-container {
  display: flex;
  justify-content: center;
}