body {
  background-color: lightblue;
}

.article-container {
  display: flex;
  justify-content: space-around;
}

.page-title {
  text-align: center;
  font-size: 3rem;
}

label,
input,
textarea {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#label-input-container {
  display: flex;
  flex-direction: column;
}

.form-container {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

#article-input {
  height: 30rem;
  padding-top: 0;
  padding-left: 0;
}

button {
  padding: .5rem;
  font-size: 1.5rem;
}
