body {
  background-color: lightblue;
}

#homepage-header-container {
  text-align: center;
}

.article-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.article-card {
  border: solid darkblue 2px;
  width: 20%;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: aliceblue;
}

.page-title {
  text-align: center;
  font-size: 3rem;
}

label {
  font-size: 2rem;
  font-weight: bold;
}

input,
textarea {
  border: solid darkblue 2px;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  background-color: aliceblue;
}

#label-input-container {
  display: flex;
  flex-direction: column;
}

.form-container {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

#article-input {
  height: 30rem;
  padding-top: 0;
  padding-left: 0;
}

button {
  padding: .5rem;
  font-size: 1.5rem;
  background-color: aliceblue;
  border: solid darkblue 2px;
  color: black;
  font-weight: bold;
  margin-right: 2rem;
}

button:hover {
  color: aliceblue;
  background-color: darkblue;
}

button:active {
  background-color: aliceblue;
  border: solid darkblue 2px;
  color: darkblue;
}
