* {
  margin: 0;
  padding: 0;
}

/* header*/
.header {
  background-color: rgb(237, 181, 191, .7);
}

#header-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 4rem;
  border-bottom: 10px double #a9d39e;
  padding-bottom: 2rem;
}

.page-title {
  font-family: 'Sacramento', cursive;
  font-size: 8rem;
  color: #6f6290;
  text-shadow: -2px 2px 4px #a9d39e,
    2px 2px 4px #a9d39e,
    2px -2px 0 #a9d39e,
    -2px -2px 0 #a9d39e;
}

.page-second-title {
  font-family: 'Sacramento', cursive;
  font-family: 'Tangerine', cursive;
  font-size: 4rem;
  color: #5f6366;
}

.header-links {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  font-size: 1.75rem;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2rem;
}

#header-link {
  text-decoration: none;
  color: #5f6366;
}

#header-link:visited {
  color: #5f6366;
}

#header-link:hover {
  color: rgb(231, 107, 130);
}

/*homepage*/
.homepage-top-container {
  border-bottom: 5px solid #a9d39e;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  color: #5f6366;
  margin-top: 3rem;
}

#homepage-top-title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

#homepage-article-link-container {
  background-image: url(images/homepage-image2.png);
  background-size: cover;
  background-position: center;
  width: 40rem;
  height: 25rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}

#homepage-article-link {
  color: #5f6366;
  text-decoration: none;
}

#homepage-article-link:visited {
  color: #5f6366;
}

#homepage-article-link:hover {
  color: rgb(231, 107, 130);
}

#homepage-article {
  width: 30rem;
  height: 4rem;
  background-color: rgb(237, 181, 191);
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  padding-top: 2rem;
  border: 5px solid #a9d39e;
  margin-top: 5rem
}

.homepage-mid-container {
  border-bottom: 5px solid #a9d39e;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

#homepage-mid-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: 2rem;
  text-align: center;
  color: #6f6290;
}

#homepage-mid-info {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #6f6290;
}

#homepage-input-container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  color: #6f6290;
  text-align: center;
  margin-bottom: 3rem;
}

#subscriber-input {
  font-size: 1.5rem;
  padding: .25rem;
}

#subscribe-button {
  font-size: 1.5rem;
  padding: .25rem;
  color: #a9d39e;
  background-color: #6f6290;
}

#subscribe-button:hover {
  background-color: #edb5bf;
  color: #6f6290;
}

.homepage-bot-container {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#articles-image-container {
  background-image: url(images/homepage-blog-container-image.png);
  background-size: cover;
  background-position: center;
  width: 15rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#resource-image-container {
  background-image: url(images/homepage-resources-conainer-image.png);
  background-size: cover;
  background-position: center;
  width: 15rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#portfolio-image-container {
  background-image: url(images/homepage-portfolio-container-image.png);
  background-size: cover;
  background-position: center;
  width: 15rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#articles-image-container:hover,
#resource-image-container:hover,
#portfolio-image-container:hover {
  transform: scale(1.1);
}

#homepage-bot-title {
  background-color: rgb(237, 181, 191);
  width: 60%;
  padding: .5rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #5f6366;
}

/*footer*/
#footer-container {
  background-color: rgb(111, 98, 144);
  display: flex;
  justify-content: center;
  padding: 3rem;
  color: #a9d39e;
}

#left-footer,
#right-footer {
  width: 25%;
  font-size: 1.5rem;
}

#left-footer {
  border-right: 3px solid #a9d39e;
  padding-right: 3rem;
}

#footer-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

#footer-info {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

#footer-bye {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

#right-footer {
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
  padding-top: 3rem;
}

.footer-link {
  color: #a9d39e;
  margin-bottom: 1rem;
  text-decoration: none;
}

.footer-link:hover {
  color: rgb(231, 107, 130);
}

/*AllArticle Page*/
.all-articles-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.article-card {
  border: solid #edb5bf 2px;
  width: 25rem;
  height: 10rem;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: rgb(237, 191, 191, .1);
  overflow: hidden;
  word-wrap: break-word;
  color: #6f6290;
}

#article-info-title {
  margin-bottom: 1rem;
}

.article-card:hover {
  border: solid #6f6290 2px;
}

.link {
  text-decoration: none;
}

/*Article and HomepageArticle Pages*/
.article-title {
  margin-top: 3rem;
  text-align: center;
  font-weight: bold;
  color: #6f6290;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.article-info {
  margin-bottom: 2rem;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  color: #6f6290;
  white-space: pre-wrap;
}

#comment-input-container {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  color: #6f6290;
  margin-bottom: 3rem;
}

#comment-input {
  font-size: 1.5rem;
  padding: .25rem;
}

#comment-textarea {
  width: 39.5rem;
  font-size: 1.5rem;
  padding: .25rem;
  height: 10rem;
}

#send-comment-button,
#return-home-button {
  font-size: 1.5rem;
  padding: .25rem;
  color: #a9d39e;
  background-color: #6f6290;
}

#send-comment-button:hover,
#return-home-button:hover {
  background-color: #edb5bf;
  color: #6f6290;
}

#send-comment-button {
  margin-right: 2rem;
}

#comment-card {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  border-top: double #6f6290 5px;
  padding-top: 2rem;
}

#reader-comments {
  font-size: 2rem;
  font-weight: bold;
  color: #6f6290;
  margin-bottom: 2rem;
}

#ind-comment-card {
  margin-bottom: 2rem;
  border-bottom: 2px solid #6f6290;
}

#comment-flex-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#comment-name {
  margin-right: 15rem;
  font-weight: bold;
  color: #6f6290;
}

#comment_text,
#comment-timestamp {
  color: #5f6366;
}

#comment_text {
  margin-bottom: 1rem;
}

/*Resources Page*/
#resources-title {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: #6f6290;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#resource-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#resources-subtitle {
  color: #6f6290;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-decoration: underline;
  margin-top: 2rem;
}

#resource-name {
  color: #6f6290;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

#resource-name {
  color: #6f6290;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

#resource-paragraph {
  margin-bottom: 1rem;
  color: #5f6366;
}



